
      .login-form {
        max-width: 300px;
        text-align: center;
        display: inline-block;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      .contend {

        height: 100%;
        width: 100%;
        text-align: center;
      }

      .inner-content {

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .user:hover{
        color: aqua;
      }
